	* {
	    box-sizing: border-box;
	}

	html, body
	{
		height: 100%;
		margin: 0em;
 		padding: 0em;
		width: 100%;
		font-size: 16px;
    	
	}
	
	body
	{
		margin: 0;
		padding: 0;
		background: #181818;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1rem;
		font-weight: 400;
		color: #FFF;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #ee0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: visible;
		max-width: 1200px;
		width: 100%;
    	margin: 0em auto;
	}

	.scaled-container 
	{
	    width: 85%; /* Scales to 70% of the parent-container's width */
	    background-color: black;
	    color: white;
	    /* Optional: Center the container if it's less than 100% width */
	    margin-left: auto;
	    margin-right: auto;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
	ul.actions
	{
	}
	
	ul.actions li
	{
		display: inline-block;
		padding: 0em 0.50em;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		max-width: 40px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: #2651a8;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: #FFF;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/
	#four-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	}
	
	.box1,
	.box2,
	.box3,
	.box4 {
	    width: 24.0%;
	}

	@media (max-width: 768px) {

    #four-column {
        flex-direction: column;
    }

    .box1,
    .box2,
    .box3,
	.box4 {
        width: 100%;
        margin-bottom: 20px; /* optional spacing */
    }
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/
	#three-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	}
	
	.boxA,
	.boxB,
	.boxC {
	    width: 32.0%;
	}

	@media (max-width: 768px) {

    #three-column {
        flex-direction: column;
    }

    .boxA,
    .boxB,
    .boxC {
        width: 100%;
        margin-bottom: 20px; /* optional spacing */
    }
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/
	#two-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	}
	.tbox1,
	.tbox2 {
	    width: 48.0%;
	}

	@media (max-width: 768px) {
 	#two-column {
        flex-direction: column;
    }
    .tbox1,
    .tbox2 {
        width: 100%;
		margin-bottom: 20px; /* optional spacing */
    }
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255,255,255,0.60);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: visible;
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/redfluid.gif) no-repeat center;
		background-size: cover;
	}

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 3.6em;
		left: 0;
	}
	
	#logo h1
	{
		font-size: 1.5em;
		color: #79C255;
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}
	
	#menu > ul
	{
		/* display: inline-block; */
		display: flex;
		list-style: none;
	    margin: 0;
	    padding: 0;
	}

	#menu > ul > li {
	    float: left;              /* main menu horizontal */
	    position: relative;       /* needed for dropdown */
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}

	#menu .active a
	{
		background: #2651a8;
		border-radius: 6px;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}

	/* Dropdown */
	.submenu-content {
	    display: none;
	    position: absolute;
	    top: 100%;
	    left: 0;
	    background: none;
	    min-width: 12em;   /* fixed width */
   		z-index: 999;
		flex-direction: column
	}
	
	.submenu-content li {
	    float: none;
		display: block;
	}
	
	.submenu-content a {
	    color: #FFF;
	    padding: 0.8em 1em;
	}
	
	.submenu-content a:hover {
	    background: #40183a;
	}
	
	/* Show on hover */
	.submenu:hover > .submenu-content {
	    display: block;
	}

    /* Show on mobile */
	@media (max-width: 768px) {
	    #menu {
	        position: relative;
	    }
	
	    #menu::before {
	        content: "☰";
	        font-size: 28px;
	        cursor: pointer;
	        display: block;
	        padding: 0.8em 1em;
	        color: white;
	    }
	
	    /* Hide menu initially */
	    #menu > ul {
	        display: none;
	        flex-direction: column;
	        width: 100%;
	        background: #181818;
	    }
	
	    /* Show when hovering/tapping */
	    #menu:hover > ul {
	        display: flex;
	    }
	
	    #menu > ul > li {
	        float: none;
	        width: 100%;
	    }
	
	    /* Submenu mobile */
	    .submenu-content {
	        position: static;
	        display: none;
	        flex-direction: column;
	    }
	
	    .submenu:hover > .submenu-content {
	        display: block;
	    }
	}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 10em;
		text-align: center;
	}
	
	#banner .title h2
	{
		font-size: 4em;
	}
	
	#banner .title .byline
	{
		font-size: 2em;
	}
	
	#banner .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;	
	}
	
	.banner
	{
		margin-bottom: 5em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		position: relative;
		padding: 7em 0em 7em 0em;
		background: #2651a8;
		background-size: cover;
		text-align: center;
	}
	
	#welcome .container
	{
		max-width: 1000px;
		width: 90%;
		padding: 0px 5%;
		color: rgba(255,255,255,0.8);
	}
	
	#welcome a
	{
		color: rgba(255,255,255,1);
	}
	
	#welcome .button
	{
		background: #FFF;
		color: #2651a8;
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#three-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#three-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#three-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}































